<%- include('header.ejs'); %>

<main>
	<% if(books.length > 0){ %>
	<h2 class="upd-title">Buscar Livro</h2>
	<form action="/dac/livro/busca" method="POST">
		<input
			class="upd-input"
			type="search"
			name="buscaTitulo"
			id="buscaTitulo"
			placeholder="Pesquisar livro"
		/>
	</form>
	<h2 class="upd-title">Buscar Editora</h2>
	<form action="/dac/editora/busca" method="POST">
		<input
			class="upd-input"
			type="search"
			name="buscaLocal"
			id="buscaLocal"
			placeholder="Pesquisar editora"
		/>
	</form>
	<section class="lista-2">
		<h2 class="lista-title">Minha Lista</h2>
		<div class="lista-scroll-2">
			<% books.forEach(book => { %>
			<a href="/atualizaLivro/<%= book.id %>"
				><img class="livro-2" src="<%= book.caminhoCapa %>"
			/></a>
			<% }) }else { %>
			<p class="p-semLivro">
				Não há livros no banco de dados, por favor adicione
			</p>
			<% } %>
		</div>
	</section>
</main>

<%- include('footer.ejs'); %>
