<%- include('header.ejs'); %>

<main>
	<section class="upd-screen">
		<h2 class="upd-title">Adicionar Nova Editora</h2>
		<form class="upd-form" action="/dac/editora/adicionar" method="POST">
			<input
				class="upd-input"
				type="text"
				name="nomeFantasia"
				id="nomeFantasia"
				placeholder="Nome Fantasia"
			/>
			<input
				class="upd-input"
				type="text"
				name="localDeOrigem"
				id="localDeOrigem"
				placeholder="Local de Origem"
			/>
			<input class="upd-btn" type="submit" value="Adicionar" />
		</form>
	</section>
</main>

<%- include('footer.ejs'); %>
